<!DOCTYPE html>
<html>
<head>
    <title>My Contact Application</title>   
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>My Contact Application</h1>
    <!-- Agregar parrafo de bienvenida a la aplicacion y explicar la importancia de salvar contactos de manera correcta -->
    <p>Welcome to my contact application. This application is very important because it allows you to save your contacts in a safe way.</p>
    <!-- Agregar boton para ir a la pagina de agregar contacto -->
    <a href="/contactAdd" class="btn btn-primary">Add Contact</a>
    <!-- Agregar boton para ir a la pagina de listar contactos -->
    <a href="/contactList" class="btn btn-primary">List Contacts</a>

</body>
</html>